<div class="form-group">
    <label for="pname">Product Name</label>
    <input type="text" name=""[value]="product?.pname" id="pname" class="form-control">
</div>

<div class="form-gruop">
    <label for="pStatus">Product Status</label>
    <select name="" id="pStatus" class="form-control" [value]="product?.pStatus">
        <option value="In Progress">In Progress</option>
        <option value="Dispatched">Dispatched</option>
        <option value="Delivered">Delivered</option>
    </select>
</div>

<hr>
<button class="btn btn-primary" (click)="gotoUsers()">go to users</button>
